* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: forestgreen;
    text-shadow: 2px 2px 0px white;
}

h2 {
    padding: 8rem 1rem 1rem 1rem;
    text-align: center;
}

h3 {
    padding: 1rem 0;
}

h1,h2,h3 {
    font-family: 'Acme';
}

p, li {
    margin: 0 auto;
    padding: 0.5rem 0;
}

a {
    color: forestgreen;
}

ul {
    list-style-position: inside;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

section > * {
    max-width: 800px;
    margin: 0 auto;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

section:nth-child(2n) {
    background: forestgreen;
}

section:nth-child(2n) * {
    color: white;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    background: white;
    width: 100%;
}

header nav {
    position: relative;
    display: flex;
}

#burger, #close {
    display: none;
}

@media only screen and (max-width: 1200px) {
    
    header nav {
        display: block;
        top: 0px;
        right: -100vw;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 20;
        background: white;
        text-align: center;
        padding-top: 6rem;
    }

    header nav a {
        display: block;
    }

    header {
        justify-content: space-between;
    }

    #burger, #close {
        display: block;
        margin-right:1rem;
    }

    #burger img {
        height: 2rem;
        width: 2rem;
    }

    #close img {
        width: 2rem;
        height: 1.5rem;
    }

    #close {
        position: absolute;
        top: 2.625rem;
        right: 0;
    }

    #burger:hover {
        cursor: pointer;
    }

    .show-menu {
        right: 0;
        transition: all 0.5s ease-in-out;
    }
}

header nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 2rem;
}

#page-underline {
    background: forestgreen;
    height: 3px;
    position: absolute;
    bottom: 0;
}

#logo img {
    width: 6rem;
    margin: 1rem;
}

#banner {
    height: 100vh;
    background-image: url(/img/coding-banner.webp);
    background-attachment: fixed;
    background-position: 40% 70%;
}

.wrapper {
    max-width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:white;
}

.wrapper a {
    width: max-content;
    margin: 1rem auto;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    background: forestgreen;
}

.card {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0px 0px 6px black;
}

.card div {
    padding: 1rem;
}

.card img {
    display: block;
    max-height: 20vh;
    margin: 0;
}

@media only screen and (max-width: 800px) {
    .card {
        display: block;
    }

    .card img {
        margin: auto;
        max-height: none;
        width: 100%;
        max-width: 400px;
    }
}

#contact div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
}

#contact img {
    height: 3rem;
    margin:0;
    margin-right: 1rem;
}